
@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h3 class="pt-1">Opa! Algo deu errado :(</h3>
                <div asp-validation-summary="All" class="text-danger pt-5"></div>
            </div>
        </div>
    </div>
}